# Welcome to Homework II

### Please read the instructions in both the instructions.pdf (on Moodle) and in this notebook very carefully!

**The following instructions are binding**:

* Other than ```pandas```, no further other library imports are allowed. Both third-party imports and builtin modules are not allowed.
* Do not delete any of the ````%%writefile```` or ```%run``` statements.
* The cells containing the function definitions and the ```%%writefile``` magic should not have any other code than the function definition and the pre-defined statements including ```%writefile``` and ```import pandas as pd```/```from typing import ...```.  Make sure that the cell defining the function is cleared of other code after implementing the function code.
* Replace the `pass` placeholder with your own code.
* Do **not** change any function names.
* Do **not** modify or remove any existing line of code within each function, except that you may remove the `pass` placeholder.
* Ensure each function receives the required input and returns the required output.
* Answer the questions in order and and comment your code.

## Student Number #1: ________

## Student Number #2: ________

## Library import

In [3]:
import pandas as pd

# Part I

#### 1) Create the **`load_retail_data(filepath: str)`** function which loads the Online Retail file (onlineretail.csv) into a pandas DataFrame and returns it. Call this function and save the result into a DataFrame called **`df`**:

In [4]:
%%writefile load_retail_data.py
import pandas as pd
    
def load_retail_data(filepath: str) -> pd.DataFrame:
    """ 
    Loads the online retail CSV file into a pandas DataFrame

    Parameters:

    - filepath (str): Path to the CSV file

    Return:

    - pd.DataFrame: The loaded retail data

    """

    #this returns an error if you don't have enconding = "latin1", not quite sure why, though 
    return pd.read_csv(filepath,encoding="latin1")

Overwriting load_retail_data.py

In [5]:
%run load_retail_data.py

# Use the loading function with the file path. Replace '...' with the path to 'onlineretail.csv'
df = load_retail_data("onlineretail.csv")

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 2) Create the **`missing_values_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain null values in the** **`CustomerID`** **or** **`Description`** **columns.** Ensure that only nulls in these two columns are dropped, without affecting rows that have null values in other columns.

In [6]:
%%writefile missing_values_cleaner.py
import pandas as pd

def missing_values_cleaner(df) -> pd.DataFrame:
    
    df = df.copy()
    
    df = df[df["CustomerID"].notna() |  df["Description"].notna() ]

    return df

Overwriting missing_values_cleaner.py

#### Call your `missing_values_cleaner` function on the original `df` below to view the results:

In [7]:
%run missing_values_cleaner.py
# Here the correct arguments should be added
missing_values_cleaner(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 3) Create the **`quantity_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain negative or 0 values in the** **`Quantity`** **column.**

In [ ]:
%%writefile quantity_handler.py
import pandas as pd

def quantity_handler(df) -> pd.DataFrame:
    """
    Removes rows that contain non-positive values in the "Quantity" column

    Parameters: 
    
    df (pd.DataFrame) : DataFrame with "Quantity" column 


    Returns:

    pd.DataFrame: Filtered DataFrame where the "Quantity" column only has positive values
    
    """


    df = df.copy()
    
    df =  df[df["Quantity"]>0]

    return df

Overwriting quantity_handler.py

#### Call your `quantity_handler` function on the original `df` below to view the results:

In [9]:
%run quantity_handler.py

# Here the correct arguments should be added
quantity_handler(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 4) Create the **`amount_spent_computer`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame with an added column named** **`amount_spent`**. This column should represent the product of **`Quantity`** and **`UnitPrice`**.

In [13]:
%%writefile amount_spent_computer.py
import pandas as pd

def amount_spent_computer(df) -> pd.DataFrame:
    
    df = df.copy()
    
    # Your code goes here
    df["amount_spent"]= df["Quantity"]*df["UnitPrice"]

    return df

Overwriting amount_spent_computer.py

#### Call your `amount_spent_computer` function on the original `df` below to view the results:

In [14]:
%run amount_spent_computer.py

# Here the correct arguments should be added
amount_spent_computer(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

#### 5) Create the **`date_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame without any invoices from the year 2011.**

In [ ]:
%%writefile date_handler.py
import pandas as pd

def date_handler(df) -> pd.DataFrame:
    # Your code goes here
    pass

#### Call your `date_handler` function on the original `df` below to view the results:

In [ ]:
%run date_handler.py
# Here the correct arguments should be added
date_handler(...).head()

#### 6) Create the **`data_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after cleaning.** The cleaning process must follow the instructions provided inside the function.

In [ ]:
%%writefile data_cleaner.py
import pandas as pd
from missing_values_cleaner import missing_values_cleaner
from quantity_handler import quantity_handler
from amount_spent_computer import amount_spent_computer
from date_handler import date_handler

def data_cleaner(df) -> pd.DataFrame:
    
    """
    
    This function receives a Pandas DataFrame as input.

    First, pass the input DataFrame `df` to the `missing_values_cleaner`
    function, and store its output in a new variable called `clean`.
    Then, pass `clean` to the `quantity_handler` function and store its
    output (you may reuse the variable name `clean`).

    Next, pass the resulting DataFrame to the `amount_spent_computer`
    function, and then to the `date_handler` function. Finally, return
    the fully cleaned DataFrame.
    
    """
    
    # Your code goes here
    pass

#### Now, before we proceed. We will clean our data using your **`data_cleaner`** function.

In [ ]:
%run data_cleaner.py
# Here the correct arguments should be added
df = data_cleaner(...)

df.head()

#### 7) Create the **`top_five_cust`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have placed the highest number of orders.** Note that the same invoice number (`InvoiceNo`) represents a single order, even if it appears across multiple rows! Be careful with these repetitions ;)

In [ ]:
%%writefile top_five_cust.py
import pandas as pd

def top_five_cust(df) -> list:
    
    # Your code goes here
    pass

#### Call your `top_five_cust` function on the now cleaned `df` below to view the results:

In [ ]:
%run top_five_cust.py
# Here the correct arguments should be added
top_five_cust(...)

#### 8) Create the **`top_five_spenders`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have spent the most money.** Use the newly created **`amount_spent`** column for this exercise.

In [ ]:
%%writefile top_five_spenders.py
import pandas as pd

def top_five_spenders(df) -> list:
    # Your code goes here
    pass

#### Call your `top_five_spenders` function on the now cleaned `df` below to view the results:

In [ ]:
%run top_five_spenders.py
# Here the correct arguments should be added
top_five_spenders(...)

#### 9) Create the **`most_expensive_item`** function, which receives a Pandas DataFrame as input and **returns a string representing the `Description` of the most expensive item.**

In [ ]:
%%writefile most_expensive_item.py
import pandas as pd

def most_expensive_item(df) -> str:
     # Your code goes here
     pass

#### Call your `most_expensive_item` function on the now cleaned `df` below to view the results:

In [ ]:
%run most_expensive_item.py
# Here the correct arguments should be added
most_expensive_item(...)

#### 10) Create the **`top_twenty_countries`** function, which receives a Pandas DataFrame as input and **returns a list of strings containing the 20 countries with the highest number of orders.** Note that this follows the same logic as question 7, so be careful with repeated orders (same invoice numbers)!

In [ ]:
%%writefile top_twenty_countries.py
import pandas as pd
from typing import List

def top_twenty_countries(df) -> List[str]:
    
    # Your code goes here
    pass

#### Call your `top_twenty_countries` function on the now cleaned `df` below to view the results:

In [ ]:
%run top_twenty_countries.py
# Here the correct arguments should be added
top_twenty_countries(...)

#### 11) Create the **`popular_products`** function, which receives a Pandas DataFrame as input and **returns a list of strings representing the descriptions (`Description`) of the 5 products purchased the most times.** Note that “number of times” refers only to how often an item was purchased, not the quantity of each order!

In [ ]:
%%writefile popular_products.py
import pandas as pd
from typing import List

def popular_products(df) -> List[str]:
    
    # Your code goes here
    pass

#### Call your `popular_products` function on the now cleaned `df` below to view the results:

In [ ]:
%run popular_products.py
# Here the correct arguments should be added
popular_products(...)

#### 12) Create the **`country_best_product`** function, which receives a Pandas DataFrame and a string as input. The string represents a country. The function must **return** `None` if the country is not present in the DataFrame. Otherwise, it should **return the description of the item that is most frequently purchased in that country.** Remember that “most frequently purchased” refers to how often the item appears, not the quantity purchased.

In [ ]:
%%writefile country_best_product.py
import pandas as pd

def country_best_product(df, country) -> str:
    
    # Your code goes here
    pass

#### Call your `country_best_product` function on the now cleaned `df` and "Portugal" below to view the results:

In [ ]:
%run country_best_product.py
# Here the correct arguments should be added
country_best_product(..., "...")

# Part II

#### 13) Create the **`load_customer_data(filepath: str)`** function which loads the **`customer_info.csv`** file into a Pandas DataFrame and returns it. Call this function and save the result into a DataFrame named **`customers`**.

In [ ]:
%%writefile load_customer_data.py
import pandas as pd

def load_customer_data(filepath: str) -> pd.DataFrame:
    # Your code goes here
    pass

In [ ]:
# Use the loading function with the file paths. Replace '...' with the path to 'customer_info.csv'
%run load_customer_data.py
# Here the correct arguments should be added
customers = load_customer_data("...")

customers.head()

#### 14) Create the **`average_age`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should use the one created in exercise 7) to obtain the list of the top 5 customers, and then **return a float representing the average age of these top 5 customers (those who placed the most orders).**

In [ ]:
%%writefile average_age.py
import pandas as pd
from top_five_cust import top_five_cust

def average_age(df, customers) -> float:
    
    # Your code goes here
    pass

#### Call your `average_age` function on the now cleaned `df` and `customers` below to view the results:

In [ ]:
%run average_age.py
# Here the correct arguments should be added
average_age(..., ...)

#### 15) Create the **`most_active`** function, which takes the customer DataFrame as input and **returns a list of strings containing the emails of the customers who have been active for the longest period of time (`YearsActive`).**

In [ ]:
%%writefile most_active.py
import pandas as pd
from typing import List

def most_active(customers) -> List[str]:
    
    # Your code goes here
    pass

#### Call your `most_active` function on the `customers` DataFrame below to view the results:

In [ ]:
%run most_active.py
# Here the correct arguments should be added
most_active(...)

#### 16) Create the **`parenthood_marketing`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a list of 5 strings representing the countries with the highest average number of children among their customers.**

In [ ]:
%%writefile parenthood_marketing.py
import pandas as pd
from typing import List

def parenthood_marketing(df, customers) -> List[str]:
    # Your code goes here
    pass

#### Call your `parenthood_marketing` function on the now cleaned `df` and `customers` below to view the results:

In [ ]:
%run parenthood_marketing.py
# Here the correct arguments should be added
parenthood_marketing(..., ...)

#### 17) Create the **`babuska_clients`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a float representing the average age of the customers who purchased the** **`"HAND WARMER BABUSHKA DESIGN"`** **item.**

In [ ]:
%%writefile babuska_clients.py
import pandas as pd

def babuska_clients(df, customers) -> float:
    # Your code goes here
    pass

#### Call your `babuska_clients` function on the now cleaned `df` and `customers` below to view the results:

In [ ]:
%run babuska_clients.py
# Here the correct arguments should be added
babuska_clients(..., ...)

# Part III

#### 18) Create the **`read_sport_dfs(teams_filepath: str, managers_filepath: str)`** function which loads the **`managers.csv`** and the **`teams.csv`** file into two Pandas DataFrames and returns them. Call this function and save the results into DataFrames named **`teams`** and **`managers`** respectively.

In [ ]:
%%writefile read_sport_dfs.py
import pandas as pd
from typing import Tuple

def read_sport_dfs(teams_filepath: str, managers_filepath: str) -> Tuple[pd.DataFrame]:
    # Your code goes here
    pass

In [ ]:
# Use the loading function with the file paths. Replace '...' with the correct paths. They should reside in your current working directory.
%run read_sport_dfs.py
# Here the correct arguments should be added
teams, managers = read_sport_dfs('...', '...')

#### 19) Create the **`go_sports`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function **returns a DataFrame containing only the team name, its managerID, the year (yearID) in the ```yyyy``` format, the number of wins (`W`) per team and team number of losses (`L`) per team.**

In [ ]:
%%writefile go_sports.py
import pandas as pd

def go_sports(teams, managers) -> pd.DataFrame:
    
    # Your code goes here
    pass

#### Call your `go_sports` function with the `managers` and `teams` DataFrames below to view the results:

In [ ]:
# %run go_sports.py
# Here the correct arguments should be added
go_sports(..., ...)

#### 20) Create the **`go_manager`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function first calls the `go_sports` function with managers and teams input and then saves the result in a variable called sports. Then, this function **returns the ID (`managerID`) as a correct string of the manager who has most wins (`W`) over their careers.**

In [ ]:
%%writefile go_manager.py
import pandas as pd
from go_sports import go_sports

def go_manager(teams, managers) -> str:
    
   # Step 1: Build the sports DataFrame
    sports = go_sports(teams, managers)

    # Your code goes here
    pass

#### Call your `go_manager` function with the `managers` and `teams` DataFrames below to view the results:

In [ ]:
%run go_manager.py
# Here the correct arguments should be added
go_manager(..., ...)