# Welcome to Homework II

### Please read the instructions in both the instructions.pdf (on Moodle) and in this notebook very carefully!

**The following instructions are binding**:

* Other than ```pandas```, no further other library imports are allowed. Both third-party imports and builtin modules are not allowed.
* Do not delete any of the ````%%writefile```` or ```%run``` statements.
* The cells containing the function definitions and the ```%%writefile``` magic should not have any other code than the function definition and the pre-defined statements including ```%writefile``` and ```import pandas as pd```/```from typing import ...```.  Make sure that the cell defining the function is cleared of other code after implementing the function code.
* Replace the `pass` placeholder with your own code.
* Do **not** change any function names.
* Do **not** modify or remove any existing line of code within each function, except that you may remove the `pass` placeholder.
* Ensure each function receives the required input and returns the required output.
* Answer the questions in order and and comment your code.

## Student Number #1: ________

## Student Number #2: ________

## Library import

In [66]:
import pandas as pd

# Part I

#### 1) Create the **`load_retail_data(filepath: str)`** function which loads the Online Retail file (onlineretail.csv) into a pandas DataFrame and returns it. Call this function and save the result into a DataFrame called **`df`**:

In [67]:
%%writefile load_retail_data.py
import pandas as pd
    
def load_retail_data(filepath: str) -> pd.DataFrame:
    """ 
    Loads the online retail CSV file into a pandas DataFrame

    Parameters:

    - filepath (str): Path to the CSV file

    Return:

    - pd.DataFrame: The loaded retail data

    """

    #this returns an error if you don't have enconding = "latin1", not quite sure why, though 
    return pd.read_csv(filepath,encoding="latin1")

Overwriting load_retail_data.py

In [ ]:
%run load_retail_data.py

# Use the loading function with the file path. Replace '...' with the path to 'onlineretail.csv'
df = load_retail_data("onlineretail.csv")

df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4373 entries, 0 to 541768
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  4372 non-null   float64
 1   Country     4373 non-null   object
dtypes: float64(1), object(1)
memory usage: 102.5+ KB

#### 2) Create the **`missing_values_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain null values in the** **`CustomerID`** **or** **`Description`** **columns.** Ensure that only nulls in these two columns are dropped, without affecting rows that have null values in other columns.

In [69]:
%%writefile missing_values_cleaner.py
import pandas as pd

def missing_values_cleaner(df) -> pd.DataFrame:
    
    df = df.copy()
    
    df = df[df["CustomerID"].notna() &  df["Description"].notna() ]

    return df

Overwriting missing_values_cleaner.py

#### Call your `missing_values_cleaner` function on the original `df` below to view the results:

In [70]:
%run missing_values_cleaner.py
# Here the correct arguments should be added
missing_values_cleaner(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 3) Create the **`quantity_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after removing all rows that contain negative or 0 values in the** **`Quantity`** **column.**

In [71]:
%%writefile quantity_handler.py
import pandas as pd

def quantity_handler(df) -> pd.DataFrame:
    """
    Removes rows that contain non-positive values in the "Quantity" column

    Parameters: 
    
    df (pd.DataFrame) : DataFrame with "Quantity" column 


    Returns:

    pd.DataFrame: Filtered DataFrame where the "Quantity" column only has positive values
    
    """


    df = df.copy()
    
    df =  df[df["Quantity"]>0]

    return df

Overwriting quantity_handler.py

#### Call your `quantity_handler` function on the original `df` below to view the results:

In [72]:
%run quantity_handler.py

# Here the correct arguments should be added
quantity_handler(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 4) Create the **`amount_spent_computer`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame with an added column named** **`amount_spent`**. This column should represent the product of **`Quantity`** and **`UnitPrice`**.

In [73]:
%%writefile amount_spent_computer.py
import pandas as pd

def amount_spent_computer(df) -> pd.DataFrame:
    
    df = df.copy()
    
    # Your code goes here
    df["amount_spent"]= df["Quantity"]*df["UnitPrice"]

    return df

Overwriting amount_spent_computer.py

#### Call your `amount_spent_computer` function on the original `df` below to view the results:

In [74]:
%run amount_spent_computer.py

# Here the correct arguments should be added
amount_spent_computer(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

#### 5) Create the **`date_handler`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame without any invoices from the year 2011.**

In [75]:
%%writefile date_handler.py
import pandas as pd

def date_handler(df) -> pd.DataFrame:
    df = df.copy()
    
    
    df = df[df['InvoiceDate'].apply(lambda x: '2011' not in str(x))]
    
    return df

Overwriting date_handler.py

#### Call your `date_handler` function on the original `df` below to view the results:

In [76]:
%run date_handler.py
# Here the correct arguments should be added

date_handler(df).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

#### 6) Create the **`data_cleaner`** function, which takes a Pandas DataFrame as input and **returns the same DataFrame after cleaning.** The cleaning process must follow the instructions provided inside the function.

In [77]:
%%writefile data_cleaner.py
import pandas as pd
from missing_values_cleaner import missing_values_cleaner
from quantity_handler import quantity_handler
from amount_spent_computer import amount_spent_computer
from date_handler import date_handler

#It's not calling date_handler properly, I have no Idea why this does not work

def data_cleaner(df) -> pd.DataFrame:
    
    """
    
    This function receives a Pandas DataFrame as input.

    First, pass the input DataFrame `df` to the `missing_values_cleaner`
    function, and store its output in a new variable called `clean`.
    Then, pass `clean` to the `quantity_handler` function and store its
    output (you may reuse the variable name `clean`).

    Next, pass the resulting DataFrame to the `amount_spent_computer`
    function, and then to the `date_handler` function. Finally, return
    the fully cleaned DataFrame.
    
    """
    clean = missing_values_cleaner(df)
    clean = quantity_handler(clean )

    clean = amount_spent_computer(clean)
    clean = date_handler(clean)

    return clean

Overwriting data_cleaner.py

#### Now, before we proceed. We will clean our data using your **`data_cleaner`** function.

In [ ]:
%run data_cleaner.py
# Here the correct arguments should be added
df = data_cleaner(df)

df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 885 entries, 0 to 42290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  885 non-null    float64
 1   Country     885 non-null    object
dtypes: float64(1), object(1)
memory usage: 20.7+ KB

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

#### 7) Create the **`top_five_cust`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have placed the highest number of orders.** Note that the same invoice number (`InvoiceNo`) represents a single order, even if it appears across multiple rows! Be careful with these repetitions ;)

In [79]:
%%writefile top_five_cust.py
def top_five_cust(df) -> list:
    #Need to review later for possible bugs
    counting_orders = df.groupby("CustomerID")["InvoiceNo"].nunique()

   
    counting_orders = counting_orders.sort_values(ascending=False)

   
    return counting_orders.iloc[:5].index.tolist()

Overwriting top_five_cust.py

#### Call your `top_five_cust` function on the now cleaned `df` below to view the results:

In [80]:
%run top_five_cust.py
# Here the correct arguments should be added
top_five_cust(df)

[12748.0, 17850.0, 14911.0, 15061.0, 13777.0]

#### 8) Create the **`top_five_spenders`** function, which takes a Pandas DataFrame as input and **returns a list of** **`CustomerID`s** **corresponding to the five customers who have spent the most money.** Use the newly created **`amount_spent`** column for this exercise.

In [81]:
%%writefile top_five_spenders.py
import pandas as pd

def top_five_spenders(df) -> list:
    money_spent = df.groupby("CustomerID")["amount_spent"].sum().sort_values(ascending = False)

   
 

   
    return money_spent.iloc[:5].index.tolist()

Overwriting top_five_spenders.py

#### Call your `top_five_spenders` function on the now cleaned `df` below to view the results:

In [82]:
%run top_five_spenders.py
# Here the correct arguments should be added
top_five_spenders(df)

[18102.0, 15061.0, 16029.0, 14646.0, 14911.0]

#### 9) Create the **`most_expensive_item`** function, which receives a Pandas DataFrame as input and **returns a string representing the `Description` of the most expensive item.**

In [83]:
%%writefile most_expensive_item.py
import pandas as pd

def most_expensive_item(df) -> str:
    df = df.copy()

    df = df.sort_values("UnitPrice",ascending=False)

    return df["Description"].iloc[0]

Overwriting most_expensive_item.py

#### Call your `most_expensive_item` function on the now cleaned `df` below to view the results:

In [84]:
%run most_expensive_item.py
# Here the correct arguments should be added
most_expensive_item(df)

'VINTAGE RED KITCHEN CABINET'

#### 10) Create the **`top_twenty_countries`** function, which receives a Pandas DataFrame as input and **returns a list of strings containing the 20 countries with the highest number of orders.** Note that this follows the same logic as question 7, so be careful with repeated orders (same invoice numbers)!

In [85]:
%%writefile top_twenty_countries.py
import pandas as pd
from typing import List

def top_twenty_countries(df) -> List[str]:
    
    
    counting_orders = df.groupby("Country")["InvoiceNo"].nunique()

   
    counting_orders = counting_orders.sort_values(ascending=False)

   
    return counting_orders.iloc[:20].index.tolist()

Overwriting top_twenty_countries.py

#### Call your `top_twenty_countries` function on the now cleaned `df` below to view the results:

In [86]:
%run top_twenty_countries.py
# Here the correct arguments should be added
top_twenty_countries(df)

['United Kingdom',
 'Germany',
 'France',
 'EIRE',
 'Portugal',
 'Belgium',
 'Lithuania',
 'Spain',
 'Netherlands',
 'Japan',
 'Australia',
 'Sweden',
 'Italy',
 'Norway',
 'Switzerland',
 'Cyprus',
 'Channel Islands',
 'Austria',
 'Denmark',
 'Finland']

#### 11) Create the **`popular_products`** function, which receives a Pandas DataFrame as input and **returns a list of strings representing the descriptions (`Description`) of the 5 products purchased the most times.** Note that “number of times” refers only to how often an item was purchased, not the quantity of each order!

In [87]:
%%writefile popular_products.py
import pandas as pd
from typing import List


def popular_products(df) -> List[str]:
    
    
    top_product = df['Description'].value_counts().head()

   
    return top_product.index.tolist()

Overwriting popular_products.py

#### Call your `popular_products` function on the now cleaned `df` below to view the results:

In [88]:
%run popular_products.py
# Here the correct arguments should be added
popular_products(df)

['WHITE HANGING HEART T-LIGHT HOLDER',
 'HAND WARMER BABUSHKA DESIGN',
 'REGENCY CAKESTAND 3 TIER',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'SCOTTIE DOG HOT WATER BOTTLE']

#### 12) Create the **`country_best_product`** function, which receives a Pandas DataFrame and a string as input. The string represents a country. The function must **return** `None` if the country is not present in the DataFrame. Otherwise, it should **return the description of the item that is most frequently purchased in that country.** Remember that “most frequently purchased” refers to how often the item appears, not the quantity purchased.

In [89]:
%%writefile country_best_product.py

import pandas as pd
from popular_products import popular_products

def country_best_product(df, country) -> str:
    
   if not (df["Country"] == country).any():
    return None

   else:
      return popular_products(df[df["Country"] == country])[0]

Overwriting country_best_product.py

#### Call your `country_best_product` function on the now cleaned `df` and "Portugal" below to view the results:

In [90]:
%run country_best_product.py
# Here the correct arguments should be added
country_best_product(df, "Portugal")

'POSTAGE'

# Part II

#### 13) Create the **`load_customer_data(filepath: str)`** function which loads the **`customer_info.csv`** file into a Pandas DataFrame and returns it. Call this function and save the result into a DataFrame named **`customers`**.

In [91]:
%%writefile load_customer_data.py
import pandas as pd

def load_customer_data(filepath: str) -> pd.DataFrame:
    return pd.read_csv(filepath,encoding="latin1")

Overwriting load_customer_data.py

In [92]:
# Use the loading function with the file paths. Replace '...' with the path to 'customer_info.csv'
%run load_customer_data.py
# Here the correct arguments should be added
customers = load_customer_data("customer_info.csv")

customers.head()

,CustomerID,FirstName,LastName,Email,Phone,Age,YearsActive,NumChildren,VIP,EstimatedAnnualSpend
0,17850.0,Rowan,White,rowan.white0.0@mail.test,+6-642-419-1833,56,11,2,No,5352.29
1,13047.0,Casey,Johnson,casey.johnson7.0@sample.net,+5-208-357-5102,20,2,1,No,1554.88
2,12583.0,Morgan,Harris,morgan.harris3.0@sample.net,+1-877-772-1298,34,7,2,No,3396.24
3,13748.0,Casey,Harris,casey.harris8.0@demo.org,+5-854-311-7228,56,5,4,No,1243.36
4,15100.0,Riley,Thompson,riley.thompson0.0@mail.test,+2-818-901-1646,42,1,3,No,661.39

#### 14) Create the **`average_age`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should use the one created in exercise 7) to obtain the list of the top 5 customers, and then **return a float representing the average age of these top 5 customers (those who placed the most orders).**

In [93]:
%%writefile average_age.py
import pandas as pd
from top_five_cust import top_five_cust

def average_age(df, customers) -> float:
    
    top_5 = top_five_cust(df)
    
    return customers[customers["CustomerID"].isin(top_5)]["Age"].mean()

Overwriting average_age.py

#### Call your `average_age` function on the now cleaned `df` and `customers` below to view the results:

In [105]:
%run average_age.py
# Here the correct arguments should be added
average_age(df, customers)

np.float64(51.0)

#### 15) Create the **`most_active`** function, which takes the customer DataFrame as input and **returns a list of strings containing the emails of the customers who have been active for the longest period of time (`YearsActive`).**

In [95]:
%%writefile most_active.py
import pandas as pd
from typing import List

def most_active(customers) -> List[str]:
    max_years = customers["YearsActive"].max()

    
    most_active_customers = customers[customers["YearsActive"] == max_years]

    
    return most_active_customers["Email"].tolist()

Overwriting most_active.py

#### Call your `most_active` function on the `customers` DataFrame below to view the results:

In [96]:
%run most_active.py
# Here the correct arguments should be added
most_active(customers)

['reese.taylor9.0@example.com',
 'elliot.martin1.0@no-reply.io',
 'parker.harris1.0@example.com',
 'avery.king1.0@demo.org',
 'cameron.martin7.0@demo.org',
 'hayden.clark5.0@mail.test',
 'reese.taylor5.0@sample.net',
 'blake.clark8.0@sample.net',
 'jamie.lee7.0@mail.test',
 'alex.walker5.0@demo.org',
 'elliot.young5.0@mail.test',
 'jordan.thomas6.0@no-reply.io',
 'blake.king1.0@no-reply.io',
 'alex.thompson0.0@example.com',
 'sam.white0.0@example.com',
 'blake.lee5.0@example.com',
 'cameron.jackson1.0@sample.net',
 'elliot.clark8.0@mail.test',
 'rowan.young3.0@no-reply.io',
 'blake.jackson2.0@sample.net',
 'casey.lee8.0@example.com',
 'rowan.thomas2.0@demo.org',
 'rowan.allen6.0@example.com',
 'jordan.white9.0@sample.net',
 'jamie.king8.0@demo.org',
 'alex.lee4.0@sample.net',
 'logan.anderson8.0@mail.test',
 'avery.walker1.0@example.com',
 'logan.young9.0@demo.org',
 'logan.thomas4.0@example.com',
 'jamie.garcia4.0@no-reply.io',
 'reese.clark5.0@sample.net',
 'elliot.lee4.0@mail.test',
 'avery.young0.0@demo.org',
 'elliot.king1.0@sample.net',
 'morgan.taylor2.0@sample.net',
 'morgan.harris1.0@demo.org',
 'taylor.king3.0@no-reply.io',
 'reese.anderson0.0@no-reply.io',
 'jordan.walker9.0@sample.net',
 'cameron.walker6.0@mail.test',
 'blake.allen2.0@demo.org',
 'morgan.thompson8.0@mail.test',
 'quinn.lee2.0@mail.test',
 'casey.johnson6.0@no-reply.io',
 'parker.harris5.0@no-reply.io',
 'quinn.smith2.0@sample.net',
 'riley.allen2.0@example.com',
 'jamie.thomas2.0@mail.test',
 'jordan.harris8.0@example.com',
 'taylor.martin1.0@example.com',
 'logan.garcia5.0@example.com',
 'quinn.garcia1.0@mail.test',
 'hayden.young6.0@example.com',
 'hayden.clark0.0@demo.org',
 'casey.smith8.0@demo.org',
 'blake.thompson4.0@no-reply.io',
 'jamie.smith7.0@example.com',
 'rowan.thompson9.0@example.com',
 'alex.lee7.0@demo.org',
 'parker.lee0.0@sample.net',
 'parker.jackson6.0@demo.org',
 'drew.king9.0@mail.test',
 'avery.taylor5.0@mail.test',
 'sam.young6.0@example.com',
 'cameron.allen2.0@demo.org',
 'logan.white2.0@example.com',
 'elliot.young8.0@no-reply.io',
 'rowan.king0.0@demo.org',
 'taylor.white3.0@mail.test',
 'hayden.king2.0@mail.test',
 'morgan.thompson0.0@example.com',
 'blake.lewis2.0@example.com',
 'casey.martin5.0@demo.org',
 'elliot.lewis1.0@demo.org',
 'jordan.walker1.0@mail.test',
 'drew.taylor7.0@example.com',
 'sam.taylor0.0@sample.net',
 'riley.white6.0@demo.org',
 'sam.white6.0@mail.test',
 'jamie.johnson6.0@example.com',
 'logan.clark0.0@sample.net',
 'cameron.smith2.0@mail.test',
 'jamie.brown5.0@mail.test',
 'casey.king4.0@sample.net',
 'morgan.brown0.0@mail.test',
 'morgan.thomas7.0@sample.net',
 'cameron.clark5.0@demo.org',
 'taylor.jackson6.0@demo.org',
 'parker.taylor7.0@sample.net',
 'elliot.taylor0.0@mail.test',
 'cameron.clark7.0@sample.net',
 'rowan.young2.0@no-reply.io',
 'cameron.taylor3.0@example.com',
 'chris.smith8.0@demo.org',
 'chris.clark9.0@no-reply.io',
 'drew.clark5.0@demo.org',
 'casey.allen3.0@sample.net',
 'elliot.allen5.0@example.com',
 'riley.taylor1.0@example.com',
 'blake.white0.0@mail.test',
 'taylor.smith9.0@example.com',
 'riley.king5.0@sample.net',
 'jamie.thompson6.0@mail.test',
 'chris.clark0.0@no-reply.io',
 'reese.king4.0@example.com',
 'jamie.brown6.0@no-reply.io',
 'elliot.walker3.0@demo.org',
 'logan.brown9.0@example.com',
 'parker.king5.0@no-reply.io',
 'taylor.thomas2.0@mail.test',
 'avery.clark1.0@no-reply.io',
 'drew.martin3.0@demo.org',
 'alex.anderson6.0@example.com',
 'cameron.brown9.0@no-reply.io',
 'casey.allen6.0@no-reply.io',
 'taylor.smith2.0@mail.test',
 'riley.white3.0@sample.net',
 'morgan.allen6.0@sample.net',
 'sam.lee3.0@example.com',
 'logan.allen9.0@example.com',
 'morgan.thomas0.0@no-reply.io',
 'blake.king6.0@demo.org',
 'sam.thomas7.0@example.com',
 'jordan.lewis9.0@no-reply.io',
 'logan.brown6.0@demo.org',
 'hayden.brown1.0@demo.org',
 'rowan.walker9.0@demo.org',
 'sam.walker8.0@example.com',
 'parker.garcia6.0@example.com',
 'blake.garcia7.0@no-reply.io',
 'drew.thomas2.0@no-reply.io',
 'reese.taylor5.0@demo.org',
 'parker.king7.0@sample.net',
 'reese.lewis1.0@demo.org',
 'morgan.johnson4.0@no-reply.io',
 'parker.young8.0@example.com',
 'blake.taylor4.0@mail.test',
 'morgan.lewis2.0@example.com',
 'avery.taylor8.0@demo.org',
 'hayden.brown5.0@sample.net',
 'blake.johnson8.0@mail.test',
 'cameron.walker0.0@demo.org',
 'alex.thompson6.0@no-reply.io',
 'rowan.white5.0@example.com',
 'parker.young2.0@mail.test',
 'alex.king5.0@example.com',
 'sam.johnson5.0@example.com',
 'casey.walker7.0@demo.org',
 'blake.johnson4.0@sample.net',
 'alex.thomas6.0@example.com',
 'jamie.taylor9.0@sample.net',
 'drew.clark5.0@no-reply.io',
 'parker.jackson3.0@demo.org',
 'reese.king5.0@mail.test',
 'elliot.thomas5.0@example.com',
 'drew.young3.0@example.com',
 'riley.harris9.0@example.com',
 'sam.thomas5.0@sample.net',
 'cameron.thomas6.0@no-reply.io',
 'casey.hall1.0@demo.org',
 'casey.anderson8.0@mail.test',
 'elliot.harris9.0@mail.test',
 'reese.hall6.0@demo.org',
 'quinn.lee7.0@demo.org',
 'taylor.walker0.0@sample.net',
 'jordan.clark2.0@demo.org',
 'cameron.white4.0@no-reply.io',
 'rowan.lewis4.0@demo.org',
 'avery.clark6.0@demo.org',
 'blake.martin8.0@example.com',
 'parker.walker9.0@mail.test',
 'blake.jackson5.0@demo.org',
 'parker.young1.0@no-reply.io',
 'blake.jackson1.0@no-reply.io',
 'sam.martin6.0@demo.org',
 'quinn.allen2.0@demo.org',
 'alex.thomas6.0@no-reply.io',
 'jordan.taylor0.0@demo.org',
 'hayden.hall9.0@no-reply.io',
 'reese.lee8.0@demo.org',
 'taylor.thompson5.0@example.com',
 'riley.garcia3.0@sample.net',
 'taylor.garcia3.0@no-reply.io',
 'parker.martin8.0@example.com',
 'elliot.jackson9.0@demo.org',
 'morgan.clark2.0@sample.net',
 'jamie.anderson7.0@no-reply.io',
 'elliot.thompson6.0@example.com',
 'blake.anderson1.0@example.com',
 'chris.anderson9.0@example.com',
 'cameron.hall9.0@example.com',
 'chris.thompson1.0@no-reply.io',
 'drew.young9.0@demo.org',
 'alex.walker5.0@sample.net',
 'reese.anderson3.0@no-reply.io',
 'morgan.lewis5.0@no-reply.io',
 'reese.allen9.0@sample.net',
 'jordan.thomas8.0@mail.test',
 'avery.taylor8.0@mail.test',
 'cameron.thomas7.0@mail.test',
 'taylor.walker4.0@mail.test',
 'logan.walker0.0@demo.org',
 'chris.brown6.0@no-reply.io',
 'blake.taylor0.0@no-reply.io',
 'jamie.johnson9.0@mail.test',
 'avery.martin6.0@example.com',
 'alex.taylor9.0@sample.net',
 'riley.white2.0@demo.org',
 'jamie.anderson2.0@example.com',
 'parker.brown9.0@demo.org',
 'taylor.lewis4.0@demo.org',
 'casey.martin4.0@demo.org',
 'alex.smith2.0@no-reply.io',
 'reese.thompson8.0@sample.net',
 'reese.lewis9.0@demo.org',
 'quinn.allen2.0@demo.org',
 'morgan.lewis5.0@demo.org',
 'parker.martin2.0@mail.test',
 'morgan.young0.0@sample.net',
 'hayden.harris4.0@mail.test',
 'quinn.young7.0@example.com',
 'rowan.thompson1.0@demo.org',
 'avery.thompson0.0@example.com',
 'alex.harris6.0@example.com',
 'jordan.walker8.0@example.com',
 'drew.white7.0@example.com',
 'reese.lewis0.0@example.com',
 'parker.harris3.0@example.com',
 'elliot.anderson2.0@no-reply.io',
 'casey.brown6.0@demo.org',
 'avery.white8.0@example.com',
 'jamie.johnson7.0@demo.org',
 'jamie.brown1.0@no-reply.io',
 'alex.garcia9.0@no-reply.io',
 'avery.lewis4.0@example.com',
 'rowan.anderson1.0@sample.net',
 'rowan.harris4.0@sample.net',
 'avery.thompson8.0@mail.test',
 'blake.thomas0.0@sample.net',
 'drew.martin6.0@no-reply.io',
 'cameron.brown3.0@mail.test',
 'rowan.anderson2.0@no-reply.io',
 'chris.martin9.0@mail.test',
 'casey.jackson6.0@sample.net',
 'morgan.jackson7.0@mail.test',
 'chris.clark4.0@mail.test',
 'chris.thompson5.0@example.com',
 'drew.garcia3.0@demo.org',
 'rowan.garcia1.0@mail.test',
 'alex.thompson5.0@example.com',
 'hayden.allen2.0@sample.net',
 'rowan.walker5.0@mail.test',
 'jamie.thompson6.0@no-reply.io',
 'hayden.lewis0.0@demo.org',
 'chris.allen1.0@demo.org',
 'parker.johnson4.0@demo.org',
 'blake.lee4.0@example.com',
 'cameron.taylor1.0@no-reply.io',
 'rowan.lewis7.0@example.com',
 'sam.anderson5.0@example.com',
 'jordan.young1.0@sample.net',
 'jordan.young1.0@no-reply.io',
 'quinn.lee7.0@no-reply.io',
 'rowan.thompson9.0@no-reply.io',
 'chris.hall5.0@mail.test',
 'cameron.thompson0.0@demo.org',
 'cameron.walker0.0@mail.test',
 'avery.young7.0@demo.org',
 'hayden.clark4.0@demo.org',
 'jamie.young8.0@demo.org',
 'drew.taylor5.0@mail.test',
 'parker.harris0.0@example.com',
 'casey.clark9.0@example.com',
 'taylor.young7.0@mail.test',
 'logan.white4.0@demo.org',
 'parker.young9.0@demo.org',
 'sam.thomas3.0@demo.org',
 'taylor.lewis9.0@example.com',
 'casey.smith4.0@no-reply.io',
 'reese.brown4.0@demo.org',
 'rowan.king0.0@no-reply.io',
 'taylor.clark9.0@example.com',
 'rowan.lewis9.0@sample.net',
 'alex.young0.0@mail.test',
 'rowan.allen3.0@sample.net',
 'rowan.garcia2.0@example.com',
 'avery.taylor6.0@sample.net',
 'jordan.lewis0.0@mail.test',
 'rowan.thomas5.0@mail.test',
 'elliot.thomas5.0@sample.net',
 'jordan.lee7.0@sample.net',
 'avery.allen1.0@sample.net',
 'reese.anderson0.0@no-reply.io',
 'parker.thompson6.0@no-reply.io',
 'quinn.anderson4.0@sample.net',
 'hayden.taylor9.0@sample.net',
 'riley.anderson2.0@sample.net',
 'elliot.clark1.0@example.com',
 'reese.king9.0@sample.net',
 'quinn.smith4.0@example.com',
 'logan.johnson7.0@demo.org',
 'cameron.thomas1.0@no-reply.io',
 'elliot.young8.0@demo.org',
 'quinn.lee8.0@example.com',
 'parker.martin5.0@mail.test',
 'cameron.hall5.0@example.com',
 'drew.taylor2.0@example.com',
 'morgan.king1.0@example.com',
 'alex.harris8.0@example.com',
 'cameron.thomas2.0@demo.org',
 'logan.clark4.0@mail.test',
 'morgan.lee6.0@example.com',
 'jordan.lewis4.0@sample.net',
 'casey.johnson6.0@no-reply.io',
 'jordan.white4.0@no-reply.io',
 'logan.martin6.0@sample.net',
 'reese.white5.0@demo.org',
 'quinn.white9.0@sample.net',
 'rowan.anderson3.0@mail.test',
 'avery.hall3.0@no-reply.io',
 'jordan.lee9.0@mail.test',
 'avery.young0.0@example.com',
 'hayden.anderson4.0@mail.test',
 'hayden.martin7.0@mail.test',
 'blake.thompson5.0@sample.net',
 'reese.lee0.0@sample.net',
 'casey.harris9.0@demo.org',
 'avery.young6.0@sample.net',
 'jordan.lewis0.0@demo.org',
 'casey.harris3.0@no-reply.io',
 'elliot.walker9.0@mail.test',
 'chris.hall3.0@sample.net',
 'hayden.hall3.0@example.com',
 'logan.thompson1.0@example.com',
 'alex.walker3.0@mail.test',
 'chris.thomas1.0@demo.org',
 'jamie.thompson7.0@mail.test',
 'rowan.brown7.0@sample.net',
 'elliot.thompson6.0@example.com',
 'alex.smith7.0@example.com',
 'parker.lee7.0@no-reply.io',
 'quinn.smith6.0@mail.test',
 'jamie.young5.0@no-reply.io',
 'logan.king8.0@example.com',
 'blake.jackson0.0@sample.net',
 'rowan.thomas1.0@sample.net',
 'reese.brown2.0@mail.test',
 'cameron.lee4.0@demo.org',
 'rowan.thomas7.0@no-reply.io',
 'drew.thompson9.0@demo.org',
 'jamie.brown3.0@mail.test',
 'parker.harris4.0@mail.test',
 'alex.clark2.0@no-reply.io',
 'chris.young2.0@no-reply.io',
 'elliot.white4.0@mail.test',
 'drew.young7.0@demo.org',
 'taylor.walker5.0@no-reply.io',
 'elliot.clark3.0@mail.test',
 'quinn.johnson0.0@no-reply.io',
 'quinn.harris8.0@no-reply.io',
 'rowan.smith3.0@example.com',
 'morgan.allen8.0@mail.test',
 'riley.taylor7.0@mail.test',
 'taylor.king2.0@example.com',
 'quinn.king8.0@sample.net',
 'blake.taylor3.0@mail.test',
 'sam.thomas4.0@mail.test',
 'quinn.hall7.0@example.com',
 'hayden.garcia7.0@sample.net',
 'logan.anderson1.0@example.com',
 'reese.harris4.0@no-reply.io',
 'morgan.martin3.0@example.com',
 'cameron.lewis0.0@demo.org',
 'hayden.johnson5.0@demo.org',
 'blake.thomas0.0@mail.test',
 'sam.allen0.0@no-reply.io',
 'rowan.clark0.0@example.com',
 'jamie.anderson3.0@demo.org',
 'jamie.hall2.0@no-reply.io',
 'rowan.thomas2.0@mail.test',
 'elliot.white2.0@sample.net',
 'blake.thomas2.0@sample.net',
 'quinn.allen9.0@mail.test',
 'morgan.johnson6.0@demo.org',
 'riley.young2.0@example.com',
 'logan.brown5.0@example.com',
 'jordan.walker7.0@no-reply.io',
 'blake.garcia4.0@mail.test',
 'taylor.white6.0@example.com',
 'sam.jackson5.0@no-reply.io',
 'rowan.jackson3.0@demo.org',
 'cameron.lewis4.0@mail.test',
 'blake.johnson6.0@demo.org',
 'jordan.hall0.0@example.com',
 'casey.brown1.0@sample.net',
 'avery.thomas0.0@no-reply.io',
 'cameron.harris7.0@mail.test',
 'blake.harris9.0@sample.net',
 'sam.harris3.0@example.com',
 'casey.lee8.0@example.com',
 'cameron.lee7.0@no-reply.io']

#### 16) Create the **`parenthood_marketing`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a list of 5 strings representing the countries with the highest average number of children among their customers.**

In [ ]:
%%writefile parenthood_marketing.py
import pandas as pd
from typing import List

def parenthood_marketing(df, customers) -> List[str]:
   #here we assume that every person in df is in customers
   customer_country = df.drop_duplicates("CustomerID")[["CustomerID","Country"]]

   merged = pd.merge(customers, customer_country, on="CustomerID", how="inner")

   avg_children = merged.groupby("Country")["NumChildren"].mean()

   return avg_children.sort_values(ascending=False).head(5).index.tolist()

Overwriting parenthood_marketing.py

#### Call your `parenthood_marketing` function on the now cleaned `df` and `customers` below to view the results:

In [98]:
%run parenthood_marketing.py
# Here the correct arguments should be added
parenthood_marketing(df, customers)

['Italy', 'Netherlands', 'Lithuania', 'Finland', 'Denmark']

#### 17) Create the **`babuska_clients`** function, which takes two Pandas DataFrames as input: the retail DataFrame and the customer DataFrame. The function should **return a float representing the average age of the customers who purchased the** **`"HAND WARMER BABUSHKA DESIGN"`** **item.**

In [99]:
%%writefile babuska_clients.py
import pandas as pd

def babuska_clients(df, customers) -> float:

    customers_bought = df[df["Description"]=="HAND WARMER BABUSHKA DESIGN"]["CustomerID"].drop_duplicates()

    age_mean = customers[customers["CustomerID"].isin(customers_bought)]["Age"].mean()

    return age_mean

Overwriting babuska_clients.py

#### Call your `babuska_clients` function on the now cleaned `df` and `customers` below to view the results:

In [100]:
%run babuska_clients.py
# Here the correct arguments should be added
babuska_clients(df, customers)

np.float64(47.24561403508772)

# Part III

#### 18) Create the **`read_sport_dfs(teams_filepath: str, managers_filepath: str)`** function which loads the **`managers.csv`** and the **`teams.csv`** file into two Pandas DataFrames and returns them. Call this function and save the results into DataFrames named **`teams`** and **`managers`** respectively.

In [113]:
%%writefile read_sport_dfs.py
import pandas as pd
from typing import Tuple

def read_sport_dfs(teams_filepath: str, managers_filepath: str) -> Tuple[pd.DataFrame]:
    teams = pd.read_csv(teams_filepath,encoding="latin1")
    managers = pd.read_csv(managers_filepath,encoding="latin1")

    return teams, managers

Overwriting read_sport_dfs.py

In [134]:
# Use the loading function with the file paths. Replace '...' with the correct paths. They should reside in your current working directory.
%run read_sport_dfs.py
# Here the correct arguments should be added
teams, managers = read_sport_dfs("Teams.csv","Managers.csv")

teams

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871-12-21,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.830,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871-09-07,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.820,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871-06-12,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.810,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871-02-13,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,NaN,0.800,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871-08-06,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,NaN,0.830,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,2011-02-14,NL,ARI,ARI,W,1,162,NaN,94,68,...,130.0,0.985,Arizona Diamondbacks,Chase Field,2105432.0,107,106,ARI,ARI,ARI
2681,2011-01-20,NL,SFN,SFG,W,2,162,NaN,86,76,...,127.0,0.983,San Francisco Giants,AT&T Park,3387303.0,89,89,SFG,SFN,SFN
2682,2011-07-26,NL,LAN,LAD,W,3,161,NaN,82,79,...,121.0,0.986,Los Angeles Dodgers,Dodger Stadium,2935139.0,98,98,LAD,LAN,LAN
2683,2011-01-01,NL,COL,COL,W,4,162,NaN,73,89,...,156.0,0.984,Colorado Rockies,Coors Field,2909777.0,116,116,COL,COL,COL
2684,2011-04-13,NL,SDN,SDP,W,5,162,NaN,71,91,...,138.0,0.985,San Diego Padres,Petco Park,2143018.0,92,92,SDP,SDN,SDN

#### 19) Create the **`go_sports`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function **returns a DataFrame containing only the team name, its managerID, the year (yearID) in the ```yyyy``` format, the number of wins (`W`) per team and team number of losses (`L`) per team.**

In [181]:
%%writefile go_sports.py
import pandas as pd

def go_sports(teams, managers) -> pd.DataFrame:

    managers['managerID'] = managers['managerID'].str.replace(' ', '', regex=False)

    teams_columns = teams.loc[:,["teamID","name","W","L","yearID"]]

    
    managers_columns = managers.loc[:,["teamID","managerID","yearID"]]
   

    
    merged = pd.merge(teams_columns, managers_columns,on="teamID", how = "inner")
    

    return merged

Overwriting go_sports.py

#### Call your `go_sports` function with the `managers` and `teams` DataFrames below to view the results:

In [182]:
%run go_sports.py
# Here the correct arguments should be added

go_sports(teams, managers)

       teamID                  name   W   L    yearID_x   managerID  yearID_y
0         BS1  Boston Red Stockings  20  10  1871-12-21  wrighha01m      1871
1         BS1  Boston Red Stockings  20  10  1871-12-21  wrighha01m      1872
2         BS1  Boston Red Stockings  20  10  1871-12-21  wrighha01m      1873
3         BS1  Boston Red Stockings  20  10  1871-12-21  wrighha01m      1874
4         BS1  Boston Red Stockings  20  10  1871-12-21  wrighha01m      1875
...       ...                   ...  ..  ..         ...         ...       ...
242904    SDN      San Diego Padres  71  91  2011-04-13  blackbu02m      2007
242905    SDN      San Diego Padres  71  91  2011-04-13  blackbu02m      2008
242906    SDN      San Diego Padres  71  91  2011-04-13  blackbu02m      2009
242907    SDN      San Diego Padres  71  91  2011-04-13  blackbu02m      2010
242908    SDN      San Diego Padres  71  91  2011-04-13  blackbu02m      2011

[242909 rows x 7 columns]

#### 20) Create the **`go_manager`** function, which takes two Pandas DataFrames as input: the teams DataFrame and the manager DataFrame. This function first calls the `go_sports` function with managers and teams input and then saves the result in a variable called sports. Then, this function **returns the ID (`managerID`) as a correct string of the manager who has most wins (`W`) over their careers.**

In [ ]:
%%writefile go_manager.py
import pandas as pd
from go_sports import go_sports

def go_manager(teams, managers) -> str:
    
   # Step 1: Build the sports DataFrame
    sports = go_sports(teams, managers)

    # Your code goes here
    pass

#### Call your `go_manager` function with the `managers` and `teams` DataFrames below to view the results:

In [ ]:
%run go_manager.py
# Here the correct arguments should be added
go_manager(..., ...)